<h2>New Person</h2>

<%= form_for @person, url: {action: "create"} do |p| %>

  <%= p.label :first_name %>
  <%= p.text_field :first_name %>

  <%= p.label :last_name %>
  <%= p.text_field :last_name %>
  
  <%= p.submit "Create Person" %>
  
<% end %>